{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block js %}
    <script type="text/javascript">

        // A $( document ).ready() block.
        $(document).ready(function () {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            console.log(getCookie('csrftoken'));
        });


        $("#login_form").on("click", function (e) {
            var username = $("#username").val();
            var password = $("#password").val();

            $.ajax({
                type: 'POST',
                url: '/api/v1/login/',
                data: {'username': username, 'password': password},
                dataType: 'json',
                success: function (data) {;
                    var token = data["token"];
                    document.cookie = 'token='+token+";path=/";
                },
                beforeSend: function (xhr) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                },
                async: false
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {#        {{ form.as_p }}#}
        Username: <input type='text' name='username' id='username'/>
        <br>
        Password: <input type='password' name='password' id='password'/>
        <br>
        <input type='submit' value='Login' id='login_form'/>
    </form>
{% endblock %}