{% extends 'base.html' %}

{% block title %}Chess Boards - Test{% endblock %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/chessboard-0.3.0.css' %}"/>
{% endblock %}

{% block js %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/chess.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chessboard-0.3.0.js' %}"></script>
    <script type="text/javascript">

        var board_id = null;
        var board_position = '';

        var host_id = {{ user.id }};
        var host_color = {{ board.host_color }} == 1 ? 'w' : 'b';
        var opp_color = host_color === 'w' ? 'b' : 'b';


        // TODO - this whole script needs a shake down
        $.ajax({
            type: 'GET',
            url: 'http://127.0.0.1:8000/api/v1/boards/?top=1&user=' + host_id,
            data: {get_param: 'value'},
            dataType: 'json',
            success: function (data) {
                if (data[0]) {
                    board_id = data[0].id;
                    board_position = data[0].fen;
                    $('#sfen').append(board_position);
                } else {
                    console.error('Error: no board');
                }
            },
            async: false
        });


        var board,
            game = new Chess(board_position),
            statusEl = $('#status'),
            host_colorEl = $('#host_color')
        ;

        $(document).ready(function () {
            host_colorEl.html(host_color === 'w' ? 'White' : 'Black');
        });

        // do not pick up pieces if the game is over
        // only pick up pieces for the side to move
        // TODO - have to make sure the host can only move one side
        var onDragStart = function (source, piece, position, orientation) {
            if (game.game_over() === true ||
                (game.turn() === opp_color && piece.search(new RegExp('^'+host_color)) !== -1) ||
                (game.turn() === opp_color && piece.search(new RegExp('^'+opp_color)) !== -1) ||
                (game.turn() === host_color && piece.search(new RegExp('^'+opp_color)) !== -1)
            ) {
                return false;
            }
        };

        {#(game.turn() === opp_color && piece.search(new RegExp('/^'+host_color+'/')) !== -1)#}

        var onDrop = function (source, target) {
            // see if the move is legal
            var move = game.move({
                from: source,
                to: target,
                promotion: 'q' // NOTE: always promote to a queen for example simplicity
            });

            // illegal move
            if (move === null) return 'snapback';

            // POST move to API
            $.ajax({
                type: 'POST',
                url: 'http://127.0.0.1:8000/api/v1/boards/' + board_id + '/moves/',
                data: {'to_position': move.from + move.to},
                dataType: 'json',
                beforeSend: function (xhr) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    xhr.setRequestHeader('Authorization', 'Token ' + getCookie('token'));
                },
                async: false
            });

            updateStatus();
        };

        // update the board position after the piece snap
        // for castling, en passant, pawn promotion
        var onSnapEnd = function () {
            board.position(game.fen());
        };

        var updateStatus = function () {
            let status = '';

            let moveColor = 'White';
            if (game.turn() === 'b') {
                moveColor = 'Black';
            }

            // checkmate?
            if (game.in_checkmate() === true) {
                status = 'Game over, ' + moveColor + ' is in checkmate.';
            }

            // draw?
            else if (game.in_draw() === true) {
                status = 'Game over, drawn position';
            }

            // game still on
            else {
                status = moveColor + ' to move';

                // check?
                if (game.in_check() === true) {
                    status += ', ' + moveColor + ' is in check';
                }
            }

            statusEl.html(status);
        };

        var cfg = {
            draggable: true,
            position: board_position,
            onDragStart: onDragStart,
            onDrop: onDrop,
            onSnapEnd: onSnapEnd
        };

        board = ChessBoard('board', cfg);

        $("#new_game").click(function () {
            $.ajax({
                type: 'POST',
                url: 'http://127.0.0.1:8000/api/v1/boards/',
                dataType: 'json',
                async: false
            });
        });


        updateStatus();
    </script>
{% endblock %}

{% block content %}

    <div class="col-md-6 col-md-offset-4">
        <div id="board" style="width: 400px"></div>
        <p>You: <span id="host_color"></span></p>
        <p>Status: <span id="status"></span></p>

        <button id="new_game">Start a new game</button>

    </div>

{% endblock %}